version: '3'
services:
  web:
    build: .
    image: daidasunny/webapp:1.0
    ports:
      - "5000:5000"
    volumes: 
      - .:/code
    environment:
      FLASK_ENV: development
  redis:
    image: "redis:alpine"
